h1{
    text-align: center;
    color: goldenrod
}

h2{
    color: red;
}

#ime-slike{
    color: orange;
}

#score {
    color: orange;
}

body{
    background: white url("images/background.jpg") no-repeat;
}