{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>{{ image.name }}</h1>
<h2>Score: {{ image.votes }}</h2>

<div style="width: 100%;">
    <div style="width: 45%; float:left;">
        <img src="{{ image.url }}" style="width: 100%;"/>
    </div>
    <div style="width: 45%; float:left;">
        <form action="{% url 'polls:upvote' image.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Vote up">
        </form>
        <form action="{% url 'polls:downvote' image.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Vote down">
        </form>
        <form action="{% url 'polls:comment' image.id %}"
                method="post">
              {% csrf_token %}
              <div>Nick: <input type="text" name="name"></div>
              <div>Comment: <input type="text" name="comment"></div>
              <div><input type="submit" value="Post comment"></div>
        </form>
        <div style="width=100%;">
            {% for comment in image.comment_set.all %}
                <p>Nick: {{ comment.name }} <br/>
                    {{ comment.comment }} <br/>
                    Published at: {{ comment.pub_date }}
                </p>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>