{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>Legendarna Stranica</h1>

<div>
{% if image_list %}
    {% for image in image_list %}
        <div style="width: 30%; float: left;">
            <p id="ime-slike">{{ image.name }}</p>
            <a href="{% url 'polls:detail' image.id %}">
                <img src="{{ image.url }}" 
                    style="width: 100%"/>
            </a>
            <p id="score">Score: {{ image.votes }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No images!</p>
{% endif %}
</div>