{% extends "entries/base.html" %}    

{% block content %} 
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <a href="{% url 'blog-home' %}">Back to Home</a>
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h3 class="card-title">{{ object.entry_title }}</h3>
            <p class="card-text">{{ object.entry_text|linebreaks }}</p>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ object.entry_date }} by
            <span class= "text-info mr-2">{{ object.entry_author }}</span>
          </div>
        </div>

        <form action="{% url 'upvote' entry.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Vote up">
        </form>

        <hr>
        <h4>This post has score of {{ entry.votes }} votes!</h4>
        <hr>
        
        <form action="{% url 'downvote' entry.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Vote down">
        </form>

        <br><br>
        <div class="main-comment-section">
          <p><h4>Comments: </h4></p>
          <hr>
          {%  for comment in entry.comment_set.all %}
          <br>
          <blockquote class="blockquote">
            <p class="mb-0">{{ comment.comment }}</p>
            <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.name|capfirst }}, {{ comment.pub_date }}</cite></footer>
          </blockquote>
          <hr>
          {% endfor %}
        </div>
        <br>

        {% if user.is_authenticated %}
        <div class="col-md-10">
          <div class="card mb-4 mt-4">
            <div class="card-header">
                Write a comment
            </div>
            <div class="card-body">
              <form action="{% url 'comment' entry.id %}" method="POST">
                  {% csrf_token %}
	                Nick: <br>
                  <textarea name="name" id="" cols="25" rows="1"></textarea>
		              <br> Comment: <br>
                  <textarea name="comment" id="content" cols="25" rows="10"></textarea>
                  <br><br>
                  <button style="float:right;" type="submit" class="btn btn-primary">Post comment</button>
              </form>
            </div>
          </div>
  
        </div>
        {% endif %}

      </div>
{% endblock %}