{% extends "entries/base.html" %}    

{% block content %} 
      <div class="col-md-8 mt-4">
        <h4>You have successfully logged out. <a href="{% url 'login' %}">Log back in here.</a></h4>
      </div>
{% endblock %}