{% extends "entries/base.html" %}    

{% block content %} 
      <div class="col-md-8">
        <div class="card mb-4 mt-4">
          <div class="card-header">
              Create an Account
          </div>
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
          </div>
        </div>

      </div>
{% endblock %}